@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lukustatud";
}

<main>
    <hgroup>
        <h1 class="text-danger">Lukustatud.</h1>
        <h2 class="text-danger">See konto on lukustatud, palun proovige hiljem uuesti.</h2>
    </hgroup>
</main>
