@{
    ViewBag.Title = "Meist";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <!--<h3>@ViewBag.Message</h3>-->

    <p>
        Pühad mängivad meie elus olulist rolli – need ühendavad inimesi, loovad rõõmsa meeleolu ja aitavad argipäevamuredest puhata. Igal pühal on oma ajalugu, traditsioonid ja eriline tähendus.
    </p>
    <p>
        Sellelt lehelt leiate teavet erinevate pühade, nende päritolu ja tähistamisviiside kohta. Püüame koondada kasulikke ja huvitavaid materjale, mis aitavad paremini mõista eri riikide kultuuri ja traditsioone.
    </p>
    <p>
        Meie eesmärk on muuta pühade kohta käiv teave kõigile külastajatele kättesaadavaks, arusaadavaks ja kaasahaaravaks.
    </p>
</main>