@{
    ViewBag.Title = "Kontakt";
}
<main aria-labelledby="title">
    <h3><strong>Pühad Kontakt</strong></h3>

    <address>
        <br />Tallinn, Harjumaa 10111, Eesti
        <abbr title="Phone">P:</abbr>
        475.444.0474
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>