@{
    ViewBag.Title = "Avaleht";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title"> <strong>Tere Tulemast Minu peod!</strong></h1>
       
    </section>

    <div class="row">
        <p class="lead">Uuri meie pakkumised: </p><p>
    @Html.ActionLink("Meie pühad", "Index", "Pyhas", null, new { @class = "btn btn-primary btn-md" })
</p>
    </div>

    <div class="row">
        <p class="lead">Tee oma valik: </p><p>
    @Html.ActionLink("Vastan küsimustele", "Ankeet", "Home", null, new { @class = "btn btn-primary btn-md" })
</p>
    </div>
</main>