 @model AppPeade.Models.Kylaline
     @{ 
         ViewBag.Title = "Tänan osalemise eest!";
     }
<h2>Äitah, @Model.Nimi!</h2>
<p>Sinu vastus on edukalt salvestatud.</p>
<p>Ootame/ei oota sind üritusel @ViewBag.Pyhanimetus!</p>
<div class="image-container">
    <img src="~/Images/@ViewBag" style="width:300px"/>
</div>
<p><a href="@Url.Action("Index", "Home")">Tagasi avalehele</a></p>
