@{
    ViewBag.Title = "Kinnita e-post";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <div>
        <p>
            Täname teid e-posti kinnitamise eest. Palun @Html.ActionLink("Klõpsake siia, et sisse logida", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
