@{
    ViewBag.Title = "Parooli kinnitamineClick to apply";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Palun kontrollige oma e-posti, et parool uuesti seadistada.
        </p>
    </div>
</main>
