@{
    ViewBag.Title = "Parooli taastamise kinnitus";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Teie parool on lähtestatud. Palun @Html.ActionLink("kliki siia sisselogimiseks", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
